# Python Full Course- Functions Advanced Assignment

**Question 1** Map and Lambda for String Operations

Use the map function with a lambda to convert a list of strings ['apple', 'banana', 'cherry'] to uppercase.

In [ ]:
fruits = ['apple', 'banana', 'cherry']
# Output should be ['APPLE', 'BANANA', 'CHERRY']

uppercase_fruits_list = list(map(lambda S : S.upper(), fruits))
print(uppercase_fruits_list)

['APPLE', 'BANANA', 'CHERRY']

**Question 2** Filter with Lambda

Use the filter function with a lambda to find all numbers in the list [10, 15, 20,24,37, 25,42, 30,57,89, 35] that are divisible by 5.

In [ ]:
numbers = [10, 15, 20,24,37, 25,42, 30,57,89, 35]
 # Output should be [10, 15, 20, 25, 30, 35]

numbers_divisible_by_5 = list(filter(lambda n : (n % 5) == 0, numbers))
print(numbers_divisible_by_5)

[10, 15, 20, 25, 30, 35]

**Question 3** Map and Lambda for Mathematical Operations

Use the map function with a lambda to add 10 to each number in the list [1, 2, 3, 4, 5].

In [ ]:
numbers = [1, 2, 3, 4, 5]
# Output should be [11, 12, 13, 14, 15]

numbers_and_add_10 = list(map(lambda x : x + 10, numbers))
print(numbers_and_add_10)

[11, 12, 13, 14, 15]

**Question 4** Filter and Lambda for String Length

Use the filter function with a lambda to filter out strings from the list ['python', 'java', 'c', 'c++'] that have length greater than 2.

In [ ]:
languages = ['python', 'java', 'c', 'c++']
# Output should be ['python', 'java', 'c++']

length_of_language_greater_than_2 = list(filter(lambda a : len(a) > 2, languages))
print(length_of_language_greater_than_2)

['python', 'java', 'c++']

**Question 5** Map and Lambda for Squaring Numbers

Use the map function with a lambda to square each number in the list [1, 2, 3, 4, 5].

In [ ]:
numbers = [1, 2, 3, 4, 5]
# Output should be [1, 4, 9, 16, 25]

square_of_numbers = list(map(lambda num : num**2, numbers))
print(square_of_numbers)

[1, 4, 9, 16, 25]

**Question 6** Using Reduce Function for Summation

Use the reduce function from the functools module with a lambda to find the sum of all elements in the list [1, 2, 3, 4, 5].

In [ ]:
from functools import reduce
numbers = [1, 2, 3, 4, 5]
# Output should be 15

find_sum_of_all_element_in_numbers = reduce(lambda u,v : u + v, numbers)
print(f"Sum of all elements in {numbers} is {find_sum_of_all_element_in_numbers}")

Sum of all elements in [1, 2, 3, 4, 5] is 15

**Question 7** Combining Map, Filter, and Lambda

Given a list of numbers [1, 2, 3, 4, 5, 6, 7, 8, 9, 10], first filter out the odd numbers, then square each of the remaining numbers using map, and finally sum the squared numbers using reduce.

In [ ]:
from functools import reduce

numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
# Output should be 220

# even_nummbers_list = list(filter(lambda m: (m % 2 == 0), numbers))

# square_of_even_numbers_list = list(map(lambda y : y**2, list(filter(lambda m: (m % 2 == 0), numbers))))

sum_of_square_of_even_numbers = reduce(lambda i,j : i + j, list(map(lambda y : y**2, list(filter(lambda m: (m % 2 == 0), numbers)))))
print(sum_of_square_of_even_numbers)

220

**Question 8** Complex String Filtering and Mapping

Given a list of sentences, use filter to keep only those sentences that contain the word "Python", and then use map to convert those sentences to lowercase.

In [ ]:
sentences = ["I love Python", "Python is great", "I prefer Java", "JavaScript is also nice", "Learning Python is fun"]
# Output should be ['i love python', 'python is great', 'learning python is fun']

# sentences_with_Python_word = list(filter(lambda l : 'Python' in l, sentences))

lowercase_sentences_with_Python_word = list(map(lambda k : k.lower(), list(filter(lambda l : 'Python' in l, sentences))))
print(lowercase_sentences_with_Python_word)

['i love python', 'python is great', 'learning python is fun']

**Question 9** Nested Lambda Functions with Map

Use the map function with a nested lambda to multiply each number in the list [1, 2, 3, 4] by 2 and then add 3 to the result.

In [ ]:
numbers = [1, 2, 3, 4]
# Output should be [5, 7, 9, 11]

number_multiply_by_2_and_add_with_3 = list(map(lambda f : ((f * 2) + 3), numbers))
print(number_multiply_by_2_and_add_with_3)

[5, 7, 9, 11]

**Question 10** Nested Lambda Functions with Map

Use the map function with a nested lambda to multiply each number in the list [1, 2, 3, 4] by 2 and then add 3 to the result.

In [ ]:
#same as question number 9!