**Question 1**

Given the Following Nested List. Write a Python Code to Extract the number 10 from the nested list.

In [ ]:
data = [
    [1, 2, [3, 4], 5],
    [6, [7, 8, [9, 10]], 11],
    [12, 13, 14]
]

num_10_extraction = data[1][1][2][1]

print(num_10_extraction)

10

**Question 2**

Given the following nested dictionary. Write a Python Code to retrieve the plus4 value of the zipcode.

In [ ]:
person = {
    'name': 'Alice',
    'age': 30,
    'address': {
        'city': 'New York',
        'zipcode': {
            'main': 10001,
            'plus4': 1234
        }
    }
}

retrieving_plus4_value = person['address']['zipcode']['plus4']

print(retrieving_plus4_value)

1234

**Question 3**

Use a while loop to sum all the even numbers between 1 and 100

In [ ]:
# initializing variables (sum) and (n), for adding even numbers and handling the iteration process, respectively
sum = 0
n = 0

# performing iteration till 99
while (n < 100):
  sum+=n
  n+=2

print(f"Sum of all even numbers between 1 and 100 : {sum}")

Sum of all even numbers between 1 and 100 : 2450

**Question 4**

Given a deeply nested list. Write a Python Code to Flatten this nested list into a single list: [1, 2, 3, 4, 5]

In [ ]:
nested_list = [1, [2, [3, [4, [5]]]]]

new_list = []

new_list.append(nested_list[0])
new_list.append(nested_list[1][0])
new_list.append(nested_list[1][1][0])
new_list.append(nested_list[1][1][1][0])
new_list.append(nested_list[1][1][1][1][0])

print(new_list)

# a, [b, [c, [d, [e]]]] = nested_list
# ls = []
# ls.append(a)
# ls.append(b)
# ls.append(c)
# ls.append(d)
# ls.append(e)
# print(ls)

[1, 2, 3, 4, 5]

**Question 5**

You are given a list of sets, where each set contains integers. Write a Python code that finds the elements that are common to at least half of the sets in the list.

In [ ]:
sets_list = [
    {1, 2, 3, 4, 5},
    {4, 5, 6, 7, 8},
    {5, 6, 7, 8, 9},
    {1, 5, 9, 10, 11},
    {5, 11, 12, 13, 14}
]

# unpacking the list
s1, s2, s3, s4, s5 = sets_list

# perfoming set operation (intersection)
common_element = s1 & s2 & s3 & s4 & s5

# printing common element from all the sets (s1, s2, s3, s4, s5)
print(common_element)

{5}

**Question 6**

Write a Python program using a while loop to reverse the digits of a given positive integer.

In [ ]:
n = 12345
# declaring and initializing variables, (num) and (rev_num), to store original number n and to store the reverse number, respectively.
num = n
rev_num = 0

# performing iteration to till (int)n is greater than 0, and doing two tasks:
# 1) taking reminder of n at each iteration and adding that to the (rev_num * 10)
# 2) reducing the n by dividing it with 10
# Note: (int(n)) is being used, because n is becoming floating variable (value contains decimals)
while (int(n) > 0):
  rem = int(n % 10)
  rev_num = (rev_num * 10) + rem
  n /= 10

print(f"Reverse of {num} : {rev_num}")

Reverse of 12345 : 54321

**Question 7**

Write a Python program using a while loop that repeatedly sums the digits of a given positive integer until the result is a single digit.

For example, for n=9875, sum1=9+8+7+5=29 sum2=2+9=11 sum3=1+1=2 . So Answer is 2

In [ ]:
# perform_sum() function will do summation of digits of number (x), passed as a parameter
def perform_sum(x):
  sum = 0
  while (int(x) > 0):
    rem = int(x % 10)
    sum += rem
    x /= 10

  return sum


n = 9875
# performing iteration till the summation of digit of number (n) results in single digit
while True:
  n = perform_sum(n)
  # breaking condition to break the loop, when the resultant sum is in single digit
  if n < 10:
    break

print(n)

2

**Question 8**

Write Python code to extract and print the names of people who have a salary greater than 70000.

In [ ]:
nested_tuple = (
    ('Alice', 50000),
    ('Bob', 60000),
    ('Charlie', 45000),
    ('David', 70000),
    (('Eve', 80000), ('Frank', 55000)),
    (('Grace', 75000), ('Helen', 65000)),
    ((('Ivy', 72000), ('Jack', 58000)), (('Kate', 68000), ('Larry', 63000)))
)

# unpacking the nested_tuple
a, b, c, d, (e,f), (g,h), ((i,j),(k,l)) = nested_tuple

# declaring and manually appending the tuples into the list
ls = []
ls.append(a)
ls.append(b)
ls.append(c)
ls.append(d)
ls.append(e)
ls.append(f)
ls.append(g)
ls.append(h)
ls.append(i)
ls.append(j)
ls.append(k)
ls.append(l)

# using list comprehension, extracting the names of people whose salary is greater than 70000
people_whose_salary_more_than_70000 = [n for (n,s) in ls if s > 70000]

# printing the name of people whose salary greater than 70000
print(f"Names of people whose salary is greater than 70000 : {people_whose_salary_more_than_70000}")

Names of people whose salary is greater than 70000 : ['Eve', 'Grace', 'Ivy']

**Question 9**

Write Python code using dictionary comprehension to extract and print the names of cities with a total population greater than or equal to 3000000.

In [ ]:
# from os import popen
nested_dict = {
    'New York': {
        'Manhattan': 1636268,
        'Brooklyn': 2559903,
        'Queens': 2253858,
        'Bronx': 1418207,
        'Staten Island': 476015
    },
    'Los Angeles': {
        'Central LA': 1253400,
        'Westside': 1297759,
        'San Fernando Valley': 1764282,
        'South LA': 1114964
    },
    'Chicago': {
        'Downtown': 2716000,
        'North Side': 1973000,
        'South Side': 1745000
    }
}

# City_population = {City : population for (City, SmallTown) in nested_dict.items() for population in SmallTown.values()}
# print(City_population)

## Unable to solve!

**Question 10**

Write a Python program that takes a list of integers as input, sorts the list in descending order, and returns a list containing only the distinct elements from the sorted list.

In [ ]:
arr = [3, 1, 5, 2, 4, 1, 3, 5]

# using .sort(reverse = True), sorting the list in descending order
arr.sort(reverse=True)

# converting the 'arr' list into set and then again into list, to extract distinct elements
distinct_element_list = list(set(arr))
print(distinct_element_list)

[1, 2, 3, 4, 5]