# **Write a Python Code to Flatten the nested list into a single list.**
**input -> [1, [2, [3, [4, [5]]]]]**

**output -> [1, 2, 3, 4, 5]**

In [ ]:
ns_list = [1, [2, [3, [4, [5]]]]]
simple_list = []

while ns_list:
  # popping first element from deeply nested list and checking the type of the popped element
  a = ns_list.pop(0)
  # if popped element is list then simply add the popped element to deeply nested list again
  if type(a) == list:
    ns_list = ns_list + a
  # else the popped element is an integer, simply add (append) it to the new simple (flatten) list
  else:
    simple_list.append(a)

print(simple_list)

[1, 2, 3, 4, 5]

**You are given a list of sets, where each set contains integers. Write a Python code that finds the elements that are common to at least half of the sets in the list.**

**sets_list** = [
{1, 2, 3, 4, 5},

{4, 5, 6, 7, 8},

{5, 6, 7, 8, 9},

{1, 5, 9, 10, 11},

{5, 11, 12, 13, 14}
]

In [ ]:
sets_list = [
{1, 2, 3, 4, 5},
{4, 5, 6, 7, 8},
{5, 6, 7, 8, 9},
{1, 5, 9, 10, 11},
{5, 11, 12, 13, 14}
]

# empty dictionary to store the frequency of elements with a key-value pair (key = element & pair = frequency of element into all the sets)
frequency_dict = {}

# iterating to all the elements into all the sets
for A in sets_list:
  for ele in A:
    # if iterator element is present inside the frequency dictionary, simply increase the count of it by 1
    if ele in frequency_dict:
      frequency_dict[ele] += 1
    # else iterator element is not present inside the frequency dictionary, then add it to the dictionary
    else:
      frequency_dict[ele] = 1

# using list comprehension, iterate over the frequency dictionary and extract all those elements (key) whose frequency (pair) is greater than equal to 3
common_element_in_half_of_sets = [x for (x,y) in frequency_dict.items() if y >= 3]

print(common_element_in_half_of_sets)

[5]

**Write a Python program using a while loop that repeatedly sums the digits of a given positive integer until the result is a single digit.**

**For example, for n=9875, sum1=9+8+7+5=29 sum2=2+9=11 sum3=1+1=2 . So Answer is 2**

In [ ]:
n = 9875

while n > 9:
  quo = n
  sum = 0
  while quo > 0:
    sum = sum + (quo % 10)
    quo //= 10
  n = sum

print(n)

2

# **Print**


### *
### * *
### * * *
### * * * *
### * * * * *
### * * * * * *

In [ ]:
star_sign = '*'
n = 5
for i in range(0,n):
  for j in range(0,i+1):
    print(f"{star_sign} ", end= " ")
  print()

*
*  *
*  *  *
*  *  *  *
*  *  *  *  *

# **Print**

### * * * * *
### * * * *
### * * *
### * *
### *

In [ ]:
star_sign = '*'
n = 5

outer = [x for x in range(0,n)]

for i in outer[::-1]:
  for j in range(0,i+1):
    print(f"{star_sign} ", end=" ")
  print()

*  *  *  *  *
*  *  *  *
*  *  *
*  *
*