# Day 2 Challenge Questions- Tuples

**Solve Each of the Below Questions and Submit Your Answers on Linked in Post within 48 Hours. Attach Screenshots Preferably. If you are not able to Solve, comment "Unable to Solve" or "Need More Time"**

# Question 1: Tuple Creation, Modification, and Operations

Consider a tuple **student_record** representing information about students in a school. Use the following tuple structure:

**student_record = (
    ('John', 15, 'Class 10', ('Math', 'Science', 'English')),
    ('Emma', 14, 'Class 9', ('History', 'Geography', 'Math')),
    ('Michael', 16, 'Class 11', ('Physics', 'Chemistry', 'Biology')),
    ('Sophia', 15, 'Class 10', ('Computer Science', 'Art', 'Music'))
)**

Perform the following operations and answer the questions:

**1. Print the subjects that John studies.**

**2. Change Michael's age from 16 to 17.**

**3. Add a new student record 'Olivia', 14, 'Class 9', ('Social Studies', 'Languages', 'Math') to student_record.**

**4. Print the updated tuple after the modification**

In [ ]:
student_record = ( ('John', 15, 'Class 10', ('Math', 'Science', 'English')),
 ('Emma', 14, 'Class 9', ('History', 'Geography', 'Math')),
 ('Michael', 16, 'Class 11', ('Physics', 'Chemistry', 'Biology')),
  ('Sophia', 15, 'Class 10', ('Computer Science', 'Art', 'Music')) )

ls_student_record = list(student_record)

# finding subject names that john studies
subject_John_studies = ls_student_record[0][3]
print("Name of subjects that John studies: ", subject_John_studies)

# changing Michael's age from 16 to 17
michael_details = list(ls_student_record[2])
michael_details[1] = 17
ls_student_record[2] = tuple(michael_details)

# add new student record
ls_student_record.append(tuple(['Olivia', 14, 'Class 9', ('Social Studies', 'Languages', 'Math')]))

# printing updated record
student_record = tuple(ls_student_record)
print(student_record)

Name of subjects that John studies:  ('Math', 'Science', 'English')
(('John', 15, 'Class 10', ('Math', 'Science', 'English')), ('Emma', 14, 'Class 9', ('History', 'Geography', 'Math')), ('Michael', 17, 'Class 11', ('Physics', 'Chemistry', 'Biology')), ('Sophia', 15, 'Class 10', ('Computer Science', 'Art', 'Music')), ('Olivia', 14, 'Class 9', ('Social Studies', 'Languages', 'Math')))

# Question 2: Nested Tuple and Tuple Slicing

Given a tuple **data_set** representing a dataset with multiple observations, each containing measurements and details:

**data_set = (
    ('Alice', (65, 120), 'USA'),
    ('Bob', (72, 150), 'Canada'),
    ('Carol', (68, 130), 'Australia'),
    ('David', (70, 140), 'UK')
)**

Answer the following questions based on data_set:

**1. Print the height of Bob.**

**2. Extract and print the weights of Alice, Carol, and David using tuple slicing.**

**3. Change Carol's country from 'Australia' to 'New Zealand'.**

**4. Print the updated tuple after the modifications.**

In [ ]:
data_set = ( ('Alice', (65, 120), 'USA'), ('Bob', (72, 150), 'Canada'), ('Carol', (68, 130), 'Australia'), ('David', (70, 140), 'UK') )

# printing Bob's Height
print("Height of Bob (in inch): ", data_set[1][1][0])

# extracting and printing weight of Alice, Carol and David
alice_weight, carol_weight, david_weight = data_set[0][1][1], data_set[2][1][1], data_set[3][1][1]
print("Alice Weight: ",alice_weight)
print("Carol Weight: ",carol_weight)
print("David Weight: ",david_weight)

# changing carol's country from Australia to New Zealand
ls_ds = list(data_set)
carol_details = list(ls_ds[2])
carol_details[2] = 'New Zealand'
ls_ds[2] = tuple(carol_details)
data_set = tuple(ls_ds)

# printing updated dataset
print(data_set)

Height of Bob (in inch):  72
Alice Weight:  120
Carol Weight:  130
David Weight:  140
(('Alice', (65, 120), 'USA'), ('Bob', (72, 150), 'Canada'), ('Carol', (68, 130), 'New Zealand'), ('David', (70, 140), 'UK'))