# Day 7 : Challenge Questions- Set

Solve Each of the Below Questions and Submit Your Answers on Linked in Post within 48 Hours. Attach Screenshots Preferably. If you are not able to Solve, comment "Unable to Solve" or "Need More Time"

# Question 1: Understanding Set Operations and Methods

**Creating and Accessing Sets**

1. Create a set A containing the elements: {2, 4, 6, 8, 10}.
2. Create another set B with the elements: {1, 2, 3, 4, 5}.
3. Verify if the element 6 is in set A and if 7 is not in set B.

**Set Operations**

1. Find the union of sets A and B.
2. Determine the intersection of sets A and B.
3. Compute the difference of set A from set B.

**Modifying Sets**

1. Add the elements 12 and 14 to set A.
2. Remove the element 3 from set B.
3. Clear all elements from set A and confirm its emptiness.

In [ ]:
# Creating and Accessing Sets

A_set = set([x for x in range(1,11) if (x % 2 == 0)]) # A_set = {2, 4, 6, 8, 10}

B_set = set([x for x in range(1,6)]) # B_set = {1, 2, 3, 4, 5}

is_6_in_A_set = (6 in A_set)
print(f"Is 6 in {A_set} : {is_6_in_A_set}")

is_7_not_in_B_set = (7 not in B_set)
print(f"Is 7 not in {B_set} : {is_7_not_in_B_set}")

Is 6 in {2, 4, 6, 8, 10} : True
Is 7 not in {1, 2, 3, 4, 5} : True

In [ ]:
# Set Operations

# Union -> A | B
A_union_B = A_set.union(B_set)
print(f"{A_set} union {B_set} : {A_union_B}")

# Intersection -> A & B
A_intersection_B = A_set.intersection(B_set)
print(f"{A_set} intersection {B_set} : {A_intersection_B}")

# Set Difference -> A - B
A_difference_B = A_set.difference(B_set)
print(f"{A_set} difference from {B_set} : {A_difference_B}")

{2, 4, 6, 8, 10} union {1, 2, 3, 4, 5} : {1, 2, 3, 4, 5, 6, 8, 10}
{2, 4, 6, 8, 10} intersection {1, 2, 3, 4, 5} : {2, 4}
{2, 4, 6, 8, 10} difference from {1, 2, 3, 4, 5} : {8, 10, 6}

In [ ]:
# Modifying Sets

# adding elements 12 and 14 to set A
A_set.add(12)
A_set.add(14)
print(f"Updated set A : {A_set}")

# removing element 3 from set B
B_set.discard(3) #B_set.remove(3)
print(f"Updated set B : {B_set}")

# clearing set A
A_set.clear()
print(f"Updated set A : {A_set}")

Updated set A : {2, 4, 6, 8, 10, 12, 14}
Updated set B : {1, 2, 4, 5}
Updated set A : set()